@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
/* header-style */
.main-header {
    width: 100%;
    height: 60px;
    font-size: 0.8rem;
    background: rgb(39, 38, 38);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 30px;
}
.nobitex-logo {
    width: 30%;
    height:30% ;
    margin-left: 5px;
}
.ham-menue {
    width: 23px;
    height: 15px;
}
.nobitex ,
.register{
    display: flex;
    align-items: center;
}
.register-button {
    padding: 2px 15px;
    border: none;
    background: #784ed1;
    border-radius: 3px;
    margin-left: 10px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}
.register-button:hover {
    background: #6645ad;
}
.register-button a {
    color: #fff;
    text-decoration: none;
}
.enter-button {
    border: none;
    background: none;
    margin-left: 20px;
    display: none;
}
.enter-button a {
    text-decoration: none;
    color: #fff;
}
.navbar-menu {
    width: 67%;
    display: none;
    position: relative;
}
.nav-option a{
    padding: 20px 30px 20px 5px;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.nav-option a:hover {
    color: #00aea4;
}
.price-button:after {
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;

}

.price-button:hover::after {
    color: #00aea4;
}
.dropdown-menu {
    position: absolute;
    list-style-type: none;
    background: #14151a;
    margin: 15px 50px 0 0;
    display: none;
}
.dropdown-menu .dropdown-menu-option a {
    display: block;
    padding: 15px 10px 15px 50px;
}
.dropdown-menu .dropdown-menu-option a:hover {
    background:#1e2026 ;
    color: #fff;
}
.price-button:hover .dropdown-menu {
    display: block;
}

/* site main framework */
/* introduction and registration header */

.introduction-registration-header {
    background-color: #f0f1f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.introduction-titr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #212122;
}
.introduction-titr  .first-introduction-titr {
    font-size: 1.2rem;
    font-weight: 600;
}
.introduction-titr  .second-introduction-titr {
    padding: 10px 0 20px 0;
    font-weight: normal;
    font-size: 0.9rem;
}
/* registeration section */
.registeration-titr {
    display: flex;
    flex-direction: column;
}
.enter-email-input {
    border: none;
    font-size: 1rem;
    color: #262627;
    padding: 10px 10px 10px 230px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.enter-email-input:focus {
    outline: 3px solid #7dd4d0;
}
.enter-email-input::placeholder {
    color: #474749;
    opacity: 0.7;
}
.start-registren-button {
    border: none;
    background: #00aea4;
    font-size: 0.9rem;
    padding: 12px 0;
    border-radius: 5px;
    transition:  all 0.3s;
}
.start-registren-button a {
    text-decoration: none;
    color: #fff;
    display: block;
}
.start-registren-button:hover {
    background: #02928b;
}
.max-width-text {
    display: none;
}
.how-work-nobitex {
    z-index: 1;
}
.how-work-nobitex a {
    font-size: 0.8rem;
    text-decoration: none;
    padding: 10px 0 0 0 ;
    display: flex;
    justify-content: center;
    color: #6645ad;
    font-weight: bold;
}
.how-work-nobitex .playButton-image {
    margin-right: 10px;
    width: 20px;
}
.jumborton-image-container {
    margin-top: -25px;
}
/* list of digital currencies to show and choose one of them */
/* selection market header */
.market-overview-header{ 
    padding: 15px 15px;
    border-top: 1px solid rgb(202, 202, 202);
    margin-top: -80px;
    width: 100%; 
    position: relative;
    background: #fff; 
}
.market-overview-header .market-selection{
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.market-overview-header-buttons {
    word-spacing: -3px;
}
.market-overview-header-buttons button{
    font-size: 0.7rem;
    font-family:tahoma;
    border: 0;
    padding: 4px 15px;
    cursor: pointer;
    background: rgb(225, 225, 233);
    color:rgb(116, 114, 114) ;
}
.market-overview-header-buttons button:focus {
    background: gray;
    color: #fff;
}
/* table of digital currencies */
.choose-digitalCurrencies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.digitalCurrencies-list {
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
    background: #fff;
    z-index: 1;
    padding:10px;
    border-collapse: collapse;
}
.exchange-button {
    padding: 9px 17px ;
    text-align: center;
    color: rgb(0, 174, 164);
    background: #fff;
    border: 1px solid rgb(0, 174, 164);
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.exchange-button:hover {
    background: rgb(0, 174, 164);
    color: #fff;
}
.digitalCurrency-column {
    padding: 15px 10px 10px 0;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.subtitle-container ,
.show-weeklyChart ,
.btcExchange-column {
    display: none;
}
.subheading-inTable {
    font-size: 0.65rem;
    color: gray;
}
.name-column a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #000;
}
.currency-detail {
    font-size: 0.9rem;
    font-weight: 600;
}
.variable-numbers-in24h span{
    background: rgb(252, 179, 179);
    color: rgb(252, 62, 62);
}
.three-dote-dropdown-menu {
    position: absolute;
    list-style-type: none;
    top: -20px;
    left: 0;
    background: #fff;
    display: none;
    cursor: pointer;
}
.three-dote-dropdown-menu li {
    border: 1px solid rgb(219, 219, 219);
    text-decoration: none;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    padding:8px 20px;
}
.three-dote-dropdown-menu li a {
    display: block;
    text-decoration: none;
}
.three-dote-dropdown-menu li a:hover {
    color: darkblue;
}

.show-exchangeLink:hover  .three-dote-dropdown-menu {
    display: block;
}
.digitalCurrency-logo {
    margin-left: 10px;
}
.three-dote-dropdown-menu-eth {
    top: 40px;
}
.three-dote-dropdown-menu-USDT {
    top: 100px;
}
.three-dote-dropdown-menu-TRX {
    top: 160px;
}
.three-dote-dropdown-menu-DOGE {
    top: 230px;
}
.show-weeklyChart img {
    height: 35px;
}
/* choose-another-market, انتخاب بازارهای دیگر */
.choose-another-market {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
}
.choose-another-market .fa-chevron-left {
    color: #000;
    width: 10px;
    padding-right: 4px;
}