@media only screen and (min-width:575px) {
    .enter-button {
        display: block;
    }
    .main-header {
        justify-content: space-between;
    }
}
@media only screen and (min-width:770px) {
    .first-introduction-titr {
        font-size: 2rem !important;
    }
    .second-introduction-titr {
        font-size: 1.2rem !important;
    }
    .registeration-titr {
        flex-direction: row !important;
    }
    .enter-email-input {
        padding: 7px 10px 7px 40px;
        border-radius: 0 3px 3px 0;
    }
    .start-registren-button {
        padding:0 10px !important;
        height: 33px;
        border-radius: 3px 0 0 3px;
    }
    .start-registren-button .max-width-text {
        display: block !important;
    }
    .start-registren-button .min-width-text {
        display: none !important;
    }
    .subtitle-container ,
    .show-weeklyChart ,
    .btcExchange-column {
    display: block;
    }
    .digitalCurrencies-list {
        width: 92%;
        border: none;
        border-radius: 5px;
        box-shadow: 0 2px 10px  rgba(160, 154, 154, 0.8);
    }
    .market-overview-header {
        margin-top: -190px;
        margin-right: 55px;
        width: 300px;
    }
    .show-exchangeLink {
        display: none;
    }
    .larg-width-none {
        display: none;
    }
    .digitalCurrency-column {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .name-column div {
        display: flex;
        flex-direction: row-reverse;
    }
    .name-column div .persionName {
        font-size: 0.9rem;
        font-weight: bold;
        margin-right: 10px;
    }
}
@media only screen and (min-width:1200px) {
    .first-introduction-titr {
        font-size: 2.3rem !important;
        padding-top: 25px;
    }
    .second-introduction-titr {
        font-size: 1.4rem !important;
    }
    .main-header .nobitex {
        font-size: 1rem;
        font-weight: bold;
    }
    .navbar-menu {
        display: flex;
    }
    .nobitex-logo {
        margin-right: 100px;
        width: 17%;
    }
    .ham-menue {
        display: none;
    }
    .register-button {
        padding: 8px 20px;
    }
    .enter-button a ,
    .register-button a {
        font-size: 1rem;
    }
    .enter-email-input {
        padding: 7px 10px 7px 100px;
    }
    .registeration-titr {
        margin-top: 10px !important;
    }
}